<h2> Edit Profile </h2>
<div>
  <%= form_for(@profile) do |form| %>
    <%= form.file_field :avatar %>
    <%= form.text_area :about, placeholder: "About" %>
    Birthday: <%= form.date_field :birthday %>
    Start Date: <%= form.date_field :start_date %>
    <%= form.submit "Update Profile" %>
  <% end %>
</div>

<br>
<h2>Edit Branch and Department </h2>
<div>
  <%= form_for(@user) do |form| %>
    <%= render "form_errors", target: @user %>
    <%= form.collection_select :department_id, Department.order(:name), :id, :name, include_blank: true %>
    <%= form.collection_select :office_branch_id, OfficeBranch.order(:location), :id, :location, include_blank: true %>
    <%= form.submit "Update Branch & Department" %>
  <% end %>
</div>

<script>
jQuery(function() {
  return $('#profile_birthday').datepicker({
    dateFormat: "yy-mm-dd"
  });
});
</script>

<script>
jQuery(function() {
  return $('#profile_start_date').datepicker({
    dateFormat: "yy-mm-dd"
  });
});
</script>
