<h2><%= @profile.name %>'s Profile!</h2>
<div>
  <%= link_to "Edit Profile", edit_profile_path(@profile) %>
</div>

<div>
  <%= image_tag @profile.avatar.url, width: "400" %>
</div>

<div>
  <strong>About <%= @profile.name %>: </strong><%= @profile.about %>
</div>

<div>
  <strong>Birthday: </strong> <%= time_tag(@profile.birthday) %>
</div>

<div>
  <strong>Start Date: </strong> <%= time_tag(@profile.start_date) %>
</div>

<div>
  <strong>Office Branch: </strong> <%= @office_branch.location %>
</div>

<div>
  <strong>Department: </strong> <%= @department.name %>
</div>

<div>
  <strong>Job Title: </strong> <%= @user.current_job.name %>
</div>

<div>
  <%= link_to "Delete Profile", @profile, method: :delete %>
</div>
<div>
  <% if @user.has_any_contact_information? %>
    <%= link_to "Show Contact Information", user_contact_information_path(@user) %>
  <% else %>
    <%= link_to "Create Contact Information", edit_user_contact_information_path(@user) %>
  <% end %>
</div>

<div>
  <% if @user.salaries.present? %>
    Current Salary: <%= number_to_currency(@user.current_salary) %>
    <p> <%= link_to "Show Past Salaries", user_salaries_path(@user) %> </p>
  <% else %>
    <%= link_to "Create Salary", new_user_salary_path(@user) %>
  <% end %>
</div>

