<h2><%= @profile.name %>'s Profile!</h2>
<% if current_user.admin? || current_user == @user %>
  <div>
    <%= link_to "Edit Profile", edit_user_profile_path(@user) %>
  </div>
<% end %>

<% if current_user.admin? %>
  <div>
    <%= link_to "Delete Profile", [@user, :profile], method: :delete %>
  </div>

  <div>
    <%= link_to "Edit User Settings", [:edit, @user] %>
  </div>
<% end %>

<div>
  <%= image_tag @profile.avatar.url, width: "400" %>
</div>

<div>
  <strong>About <%= @profile.name %>: </strong><%= @profile.about %>
</div>

<div>
  <strong>Birthday: </strong> <%= time_tag(@profile.birthday) %>
</div>

<div>
  <strong>Start Date: </strong> <%= time_tag(@profile.start_date) %>
</div>

<% if current_user.admin? %>
<div>
  <%= form_for @user, builder: DropdownSelector, remote: true do |form| %>
    <%= form.label "Department:" %>
    <%= form.dropdown_select :department_id, Department.order(:name), :name %>
    <%= form.label "Office Branch:" %>
    <%= form.dropdown_select :office_branch_id, OfficeBranch.order(:city), :city %>
    <%= form.submit id: "submit_button", style: "display: none" %>
  <% end %>
</div>
<div>
  <%= form_for(@job_title_user) do |form| %>
    <%= form.hidden_field :user_id, value: @user.id %>
    <%= form.label "Job Title:" %>
    <%= @user.current_job.name %>
    <%= form.collection_select :job_title_id, JobTitle.all, :id, :name, include_blank: true %>
    <%= form.submit "Update Job Title" %>
  <% end %>
</div>
<% else %>
  <ul>
    <li><strong>Department: </strong> <%= @user.department.name %></li>
    <li><strong>Office Branch: </strong> <%= @user.office_branch.city %></li>
    <li><strong>Job Title: </strong> <%= @user.current_job.name %></li>
  </ul>
<% end %>

<% if signed_in? %>
  <div>
    <% if @user.has_any_contact_information? %>
      <%= link_to "Show Contact Information", user_contact_information_path(@user) %>
    <% else %>
      <% if current_user == @user %>
        <%= link_to "Create Contact Information", edit_user_contact_information_path(@user) %>
      <% else %>
        No Contact Information
      <% end %>
    <% end %>
  </div>
<% end %>

<% if current_user.admin? || current_user == @user %>
  <% if @user.salaries.present? %>
    <div>
      Current Salary: <%= number_to_currency(@user.current_salary) %>
    </div>
  <% end %>
<% end %>

<% if current_user.admin? %>
  <div>
  <% if @user.salaries.present? %>
    <%= link_to "Show Past Salaries", user_salaries_path(@user) %>
  <% else %>
    <%= link_to "Create Salary", new_user_salary_path(@user) %>
  <% end %>
  </div>
<% end %>

<% if current_user.admin? %>
  <br>
  <div>
    Behavior Reports: <%= @user.behavior_reports.count %> |
    <% if @user.behavior_reports.present? %>
      <%= link_to "Show Reports", user_behavior_reports_path(@user) %> |
    <% end %>
    <%= link_to "New Behavior Reports", new_user_behavior_report_path(@user) %>
  </div>
  <div>
    Performance Reviews: <%= @user.performance_reviews.count %> |
    <% if @user.performance_reviews.present? %>
      <%= link_to "Show Perfomance Reviews", user_performance_reviews_path(@user) %> |
    <% end %>
    <%= link_to "New Performance Review", new_user_performance_review_path(@user) %>
  </div>
<% end %>

