<h2><%= @office_branch.city %>, <%= @office_branch.state %></h2>
<nav>
  <ul>
    <li><%= link_to "Office Branches Index", office_branches_path %></li>
    <% if current_user.admin? %>
      <li><%= link_to "Edit Office Branch", edit_office_branch_path(@office_branch) %></li>
      <li><%= link_to "Delete Office Branch", @office_branch, method: :delete, confirm: "Are you sure?" %></li>
    <% end %>
  </ul>
</nav>

<%= render @profiles %>
