<h2>Change <%= @user.name %>'s Settings</h2>

<%= form_for @user do |form| %>
  <%= form.text_field :name, placeholder: "Name" %>
  <%= form.text_field :email, placeholder: "Email" %>
  <%= form.password_field :password, placeholder: "Password" %>
  <%= form.label :admin %>
  <%= form.check_box :admin %>
  <p><%= form.submit "Update User" %></p>
<% end %>
<div>
  <%= link_to "Delete Profile", @user, method: :delete, confirm: "Are You Sure?" %>
</div>


