<h2><%= @department.name %></h2>

<nav>
  <ul>
    <li><%= link_to "Departments Index", departments_path %></li>
    <li><%= link_to "Edit Department", edit_department_path(@department) %></li>
    <li><%= link_to "Delete Department", @department, method: :delete, confirm: "Are you sure?" %></li>
  </ul>
</nav>

<div>
  <strong> <%= @department.name %>: </strong><%= @department.description %>
</div>

<%= render @profiles %>
