<h2>Create Salary</h2>

<%= form_for @salary, url: user_salaries_path do |form| %>
  <%= form.text_field :salary, placeholder: "Salary" %>
  <%= form.text_area :description, placeholder: "Description" %>
  Date: <%= form.date_field :date %>
  <%= form.submit "Create Salary" %>
<% end %>

<script>
jQuery(function() {
  return $('#salary_date').datepicker({
    dateFormat: "yy-mm-dd"
  });
});
</script>
