
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="box">
<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">Visualizations</a>
    <section>
      <p>New Employee Registrations By Hour:</p>
      <%= area_chart User.group_by_hour(:created_at).count %>
    </section>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Employees</a>
    <section>
      <% if signed_in? %>
        <% if current_user.profile.present? %>
          <% @profiles.each do |employee| %>
           <div class="comment">
            <div class="comment-image">
              <%= image_tag employee.avatar.url, size: "40x40" %>
            </div>
            <div class="comment-content">
              <h1><%= employee.name %></h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
              <p class="comment-detail">Date or details about this post</h2>
            </div>
          </div>
       <% end %>
      <% end %>
     <% end %>  
    </section>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Office Branches</a>
    <section>
      <%= geo_chart @office_branches.group(:country).count %>  <hr>
    </section>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Render Profiles</a>
    <section>
      <%= render @profiles %>
    </section>
  </li>
</ul>
</div>

<script>
  $(document).ready(function () {
    $('.accordion-tabs-minimal').each(function(index) {
      $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
    });

    $('.accordion-tabs-minimal').on('click', 'li > a', function(event) {
      if (!$(this).hasClass('is-active')) {
        event.preventDefault();
        var accordionTabs = $(this).closest('.accordion-tabs-minimal')
        accordionTabs.find('.is-open').removeClass('is-open').hide();

        $(this).next().toggleClass('is-open').toggle();
        accordionTabs.find('.is-active').removeClass('is-active');
        $(this).addClass('is-active');
      } else {
        event.preventDefault();
      }
    });
  });
</script>
