

<div class="box">
<ul class="accordion-tabs-minimal">
  <li class="tab-header-and-content">
    <a href="#" class="tab-link is-active">Dunder Mifflin Workforce</a>
    <section>
      <div class="welcome">
        <h1>Welcome to Dunder Mifflin's Employee Directory!</h1>
      </div>
      <div class="welcome-logo">
        <p>Powered by</p>
        <p><%= image_tag "workforce.jpg" %></p>
      </div>
    </section>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Departments</a>
    <section>
      <div> 
        <%= link_to "Department Index", departments_path %>
      </div>
      <%= pie_chart Department.group(:name).count %>
    </section>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Branch Locations</a>
    <section>
      <div>
        <%= link_to "Office Branch Index", office_branches_path %>
      </div>
      <%= geo_chart @office_branches.group(:country).count %>  <hr>
    </section>
  </li>
  <li class="tab-header-and-content">
  <a href="#" class="tab-link">Employee Index</a>
    <section>
      <% @profiles.each do |profile| %>
        <div class="comment">
          <div class="comment-image">
            <%= image_tag profile.avatar.url %>
          </div>
          <div class="comment-content">
            <h1><%= link_to profile.name, [profile.user, :profile] %></h1>
            <p> <%= profile.user.current_job.name %> </p>
            <p class="comment-detail"><%= profile.about %></h2>
          </div>
        </div>
      <% end %>
    </section>
  </li>
</ul>
</div>

<script>
  $(document).ready(function () {
    $('.accordion-tabs-minimal').each(function(index) {
      $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
    });

    $('.accordion-tabs-minimal').on('click', 'li > a', function(event) {
      if (!$(this).hasClass('is-active')) {
        event.preventDefault();
        var accordionTabs = $(this).closest('.accordion-tabs-minimal')
        accordionTabs.find('.is-open').removeClass('is-open').hide();

        $(this).next().toggleClass('is-open').toggle();
        accordionTabs.find('.is-active').removeClass('is-active');
        $(this).addClass('is-active');
      } else {
        event.preventDefault();
      }
    });
  });
</script>
