<header class="navigation">
  <div class="menu-wrapper">
    <%= link_to image_tag("mifflin.png", class: "logo"), root_path %>
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li><%= link_to "Departments", departments_path %></li>
        <li><%= link_to 'About Us', page_path('about') %></li>
        <li><%= link_to 'Policies', page_path('policies') %></li>
        <li class="navigation-search-bar">
          <div class="search-bar">
            <div class="search-and-submit">
              <%= form_for(:search, url: search_path, method: :get) do |form| %>
               <%= form.text_field :query, placeholder: "Search Here" %>
               <button type="submit">
                 <img src="https://raw.githubusercontent.com/Magnus-G/Random/master/search-icon.png" alt="">
               </button>
              <% end %>
            </div>
          </div>
        </li>
        <% if signed_in? %>
          <li><%= link_to 'Sign Out', sign_out_path, method: :delete %></li>
          <% if current_user.profile.present? %>
            <li><%= link_to "See Profile", [current_user, :profile] %></li>
          <% else %>
            <li><%= link_to 'Create Profile', [:new, current_user, :profile] %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Sign In", sign_in_path %></li>
          <li class="sign-up"><%= link_to "Sign Up", sign_up_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });
  });
</script>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>
