<header class="navigation">
  <div class="menu-wrapper">
    <%= link_to image_tag("mifflin.png", class: "logo"), root_path %>
    </a>
    <p class="navigation-menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <li><%= link_to "Departments", departments_path %></li>
        <li><%= link_to 'About Us', page_path('about') %></li>
        <li><%= link_to 'Policies', page_path('policies') %></li>
        <li><% if signed_in? %>
              <li><a><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
              <% if current_user.profile.present? %>
                <li><a><%= link_to "See Profile", current_user. profile %></a></li>
              <% else %>
              <li><%= link_to 'Create Profile',new_profile_path %>
              <% end %>
            <% else %>
              <%= link_to "Sign In", sign_in_path %>
            
            <% end %>
           </a></li>
      </ul>
    </div>
  </div>
</header>

<script>
  $(function() {
    var menu = $('#navigation-menu');
    var menuToggle = $('#js-mobile-menu');

    $(menuToggle).on('click', function(e) {
      e.preventDefault();
      menu.slideToggle(function(){
        if(menu.is(':hidden')) {
          menu.removeAttr('style');
        }
      });
    });
  });
</script>

<div id="flash">
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>
</div>
