<!DOCTYPE html>
<html>
<head>
  <title>Workforce</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="main-body">

<%= render 'header' %>

<div class="body-wrapper">
<%= yield %>
</div>

<%= render 'footer' %>
</body>
</html>
